<h2>Cadastro de Cliente</h2>

<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <label>Nome:</label>
  <input type="text" formControlName="nome" /><br>

  <label>CPF:</label>
  <input type="text" formControlName="cpf" /><br>

  <label>Telefone:</label>
  <input type="text" formControlName="telefone" /><br>

  <label>Email:</label>
  <input type="email" formControlName="email" /><br>

  <button type="submit">Cadastrar</button>
  <button type="button" (click)="voltarHome()" style="margin-top: 10px;">Voltar para Home</button>
</form>
