<h2>Cadastro de Produto</h2>

<form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
  <label>Nome:</label>
  <input type="text" formControlName="nome" /><br>

  <label>Preço:</label>
  <input type="number" formControlName="preco" /><br>

  <label>Quantidade em Estoque:</label>
  <input type="number" formControlName="quantidadeEstoque" /><br>

  <label>Descrição:</label>
  <input type="text" formControlName="desquicao" /><br>

  <label>Marca:</label>
  <input type="text" formControlName="marca" /><br>

  <label>Grupo de Produto:</label>
  <select formControlName="grupoproduto">
    <option *ngFor="let grupo of grupos" [value]="grupo">{{ grupo }}</option>
  </select><br>

  <button type="submit">Cadastrar</button>
  <button type="button" (click)="voltarHome()" style="margin-top: 10px;">Voltar para Home</button>
</form>
